<ion-view title="Weather" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div ng-controller="BluetoothCtrl">
            <button class="button button-block button-outline button-assertive" ng-click="connect()"> connect </button>
        </div>
        <button class="button button-block button-outline button-assertive" ng-model="weather" ng-click="getWeather()">Get Current Weather</button>
        <div class="list card">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-home"></i> Place {{place}}
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-rainy"></i> Weather {{main}}
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-sunny-outline"></i> Sunrise {{Sunrise}}
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-sunny"></i> Sunset {{Sunset}}
            </a>
        </div>
        
		<div class="list card">
            <a href="#" class="item item-icon-left" ng-click="work()">
                <i class="icon ion-briefcase"></i> Working {{w}}
            </a>
            <a href="#" class="item item-icon-left" ng-click="clam()">
                <i class="icon ion-leaf"></i> Clam {{c}}
            </a>
            <a href="#" class="item item-icon-left" ng-click="bed()">
                <i class="icon ion-ios-moon-outline"></i> Bedtime {{b}}
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-beer"></i> Party {{p}}
            </a>
        </div>
    </ion-content>
</ion-view>
