<ion-view title="Weather" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
<!--         <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body">
                <button class="button" ng-model="weather" ng-click="init()"></button>
            </div>
        </div> -->
        <div class="list card">
        <button class="button button-block button-outline" ng-model="weather" ng-click="getWeather()">Get Current Weather</button>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-home"></i> Place {{place}}
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-rainy"></i> Weather {{main}}
            </a>
            <a href="#" class="item item-icon-left"> 
                <i class="icon ion-ios-sunny-outline"></i> Sunrise {{Sunrise}}
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-sunny"></i> Sunset {{Sunset}}
            </a>
        </div>
    </ion-content>
</ion-view>
